@import '../../variables';

.CartListItem {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray-light;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  .pic-section {
    flex: 0 1 10%;
    display: flex;
    align-items: center;

    .pic {
      width: 100%;
    }
  }

  .info-section {
    flex: 0 1 50%;

    .author {
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 0;
    }
  }

  .numbers-section {
    flex: 0 1 37%;
    display: flex;
    justify-content: space-between;
  }

  .price-container {
    text-align: center;
  }

  .amount-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .margin {
      margin: 0 10px;
    }

    .icon {
      display: inline-flex;
      margin-left: 10px;
      padding: 5px;
    }
  }

  @media (max-width: 1200px) {
    .info-section {
      flex: 0 1 45%;
    }

    .numbers-section {
      flex: 0 1 42%;
    }
  }

  @media (max-width: 800px) {
    .numbers-section {
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .price-container {
        .price {
          margin: 2px 7px;
        }
      }

      .amount-container {
        .small-btn {
          margin: 5px 0;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .pic-section {
      flex: 0 1 13%;
    }

    .info-section {
      flex: 0 1 41%;
    }

    .amount-container {
      .margin {
        margin: 0 5px;
      }
    }
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;

    .pic-section {
      flex: 0 1 20%;
    }

    .info-section {
      flex: 0 1 72%;
    }

    .numbers-section {
      flex: 0 1 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      .price-container {
        text-align: left;
        .price {
          margin: 0;
        }
      }
    }
  }
}
