@import '../../variables';

.Sort {
  flex: 0 1 20%;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;

  .header {
    font-size: 1.2em;
    font-weight: 400;
    color: $gray-darkest;
    letter-spacing: 1px;
  }

  button {
    display: block;
    font-size: .95em;
    letter-spacing: .04em;
    color: $gray;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
    background-color: inherit;
    outline: none;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      color: $sea;
    }
  }
}
