.container {
  flex: 0 1 75%;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding: 5px;
}
