@import '../../variables';

.ProductListItem {
  position: relative;
  width: 350px;
  margin: 10px;
  padding: 15px 25px;
  border: 1px solid $gray-light;
  border-radius: 5px;

  .image-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 70%;
    }
  }

  .title {
    margin: 5px 0;
    font-size: 1.3em;
    font-weight: 500;
  }

  .subtitle {
    margin-top: 0;
    height: 15px;
    color: $gray-dark;
  }

  .author {
    margin: 5px 0;
    max-width: 75%;
    font-size: .85em;
    font-weight: 400;
  }

  .price {
    display: inline-block;
    color: $sea-darkest;
    margin: 5px 0;
  }

  .state {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 70px;
    font-size: .8em;
    text-align: center;
    background-color: $sea-darkest;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
  }

  @media (max-width: 440px) {
    width: 100%;

    .image-container {
      height: auto;
      margin: 15px 0;
    }

    .author {
      max-width: 65%;
    }

    .subtitle {
      height: auto;
      margin-bottom: 5px;
    }
  }
}
