@import '../../variables';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  .brand {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .4em;
  }

  .menu-btn {
    display: none;
    padding: 6px 10px;
    font-size: 1.4em;
  }

  .nav {
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .4em;

    .Link {
      margin-left: 40px;
      color: $gray;

      &.icon {
        position: relative;
        font-size: 1.5em;
      }

      &.active {
        color: $gray-darkest;
      }

      &:hover:not(.active) {
        font-weight: 500;
        color: $sea;
      }

      .products-in-cart {
        position: absolute;
        left: 60%;
        top: 83%;
        transform: translate(-50%, 0);
        text-align: center;
        border-radius: 5px;
        padding: 1px 5px;
        background-color: $sea-darkest;
        color: white;
        font-size: .6em;
        letter-spacing: 0;
      }
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 55px;
  }

  @media (min-width: 686px) and (max-width: 1075px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media (max-width: 685px) {
    margin-bottom: 20px;

    .nav {
      display: none;
      position: fixed;
      z-index: 2000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $gray-darkest-transparent;

      font-size: 1.2em;

      .Link {
        color: white;
        margin: 12px;

        &.active {
          color: $sea;
        }
      }

      &.show {
        display: flex;
      }
    }

    .menu-btn {
      display: flex;
    }
  }

  @media (max-width: 420px) {
    .brand {
      letter-spacing: .1em;
    }
  }
}
