@import '../../variables';

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  letter-spacing: .1em;

  .rights {
    font-size: .9em;
    color: $gray;
  }

  .nav {
    font-size: .9em;
    text-transform: uppercase;

    .Link {
      margin-left: 25px;
      color: $gray;

      &.active {
        color: $gray-darkest;
      }

      &:hover:not(.active) {
        font-weight: 500;
        color: $sea;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: center;

    .nav {
      margin-bottom: 10px;

      .Link {
        margin: 0 12px;
      }
    }
  }

  @media (max-width: 400px) {
    letter-spacing: 0;

    .nav {
      //letter-spacing: 0;

      .Link {
        margin: 0 8px;
      }
    }
  }
}
