@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-lightest;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

*[class*="-btn"] {
  display: block;
  margin: 20px 0;
  padding: 8px 20px;
  background-color: $sea-darkest;
  border: 1px solid $sea-darkest;
  border-radius: 2px;
  color: white;

  &:hover {
    background-color: inherit;
    color: $sea-darkest;
  }
}
